.grid{
    display: grid;
    grid-template-areas: "head head"
                        "menu main"
                        "foot foot";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 200px 1fr 100px;
    
}
.a{
    grid-area: head; background: blue;
}
.b{
    grid-area: menu; background: red;
}
.c{
    grid-area: main; background: green;
}
.d{
    grid-area: foot; background: orange;
}

