body{
    overflow-x: hidden;
}
p{
    letter-spacing: 4px;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-name: slidein;
}

@keyframes slidein {
    from{
        margin-left: 100%;
        width: 300%;

    }

    to{
        margin-left: -100%;
        width: 100%;
    }
}
